/* Put your CSS here */
html, body {
    background-color: #dbd0d0;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }

// General Layout
@import 'general/nav';
@import 'general/body';
@import 'general/footer';

// Modules
@import 'modules/cards/cards';