.main-nav {
    position: relative;
    overflow: hidden;
    margin: 0 10% 1%;
    width: 960px;
}
.main-nav__1stlvl {
    list-style: none;
}
.main-nav__1stlvl > a {
    float: left;
    margin: 0 1% 0;
    border: 1px solid #656060;
    border-radius: 5px 5px;
    padding: 0.5%;
    color: #4a4545;
    text-decoration: none;
    background: linear-gradient(to bottom, #d3cec6 0%, #716f6a 100%);
}
.main-nav__1stlvl > a:hover {
    background: linear-gradient(to bottom, #716f6a 0%, #d3cec6 100%);
}
.main-wrapper {
    position: relative;
    clear: both;
    margin: 2% 10%;
    width: 960px;
}
.content {
    margin-top: 2%;
}
.cards {
    margin-top: 2%;
    list-style: none;
}
.cards > li {
    margin: 0.5% 0 0.5%;
    padding: 0 1.5%;
    border: 1px solid black;
    border-radius: 5px 5px;
}